
<div class="min-h-screen">
  <%- include('../components/asideMenu') %>
   <div class="px-4 xl:ml-80  h-full">
     <%- include('../components/nav') %>

     <%- include('../components/infoCards') %>

   </div>

  <%- include('../components/modal') %>

</div>


