<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden shadow-md overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <div class="relative  rounded-lg shadow bg-custom">
        
                <h3 id="modal-header" class="text-xl font-semibold text-white p-4 md:p-5 "></h3>

            <div  id="modal-body"  class="grid text-white items-center justify-between p-4 md:p-5 border-b rounded-t  border-gray-600"></div>

            <div id="btns-container" class="flex justify-center items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button id="button-accept" data-modal-hide="static-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>

                <button id="button-decline" data-modal-hide="static-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-gray-700 rounded-lg border border-gray-800 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 ">Decline</button>
            </div>
        </div>
    </div>
</div>

<script>
const closeModalButtons = document.querySelectorAll('[data-modal-hide]')

  document.addEventListener('DOMContentLoaded', function() {
            // Maneja la lógica para ocultar el modal cuando se presionen los botones de cerrar
  const modal = document.getElementById('static-modal')
	
      closeModalButtons.forEach(button => {
        if (button.id !== 'button-accept') {
          button.addEventListener('click', () => {
            modal.classList.add('hidden')
          })
        }
      })
  })
</script>
